<div class="page-listing">

  <h1>Celebrities</h1>

  {{#each celebrities}}
    <div>
      <h2>

          {{name}}

    
        {{!-- <a href="/books/{{id}}">{{this.title}}</a> -  --}}
        {{!-- (<a href="/books/{{id}}/edit">Edit</a> - <form action="/books/{{id}}/delete" method="POST"><button>supprimer</button></form>) --}}
      </h2>
      {{!-- <h3>{{occupation}}</h3>
      <h4>{{catchPhrase}}</h4> --}}
    </div>
  {{/each}}

</div>