<h2>Celebrities list</h2>

{{#each celebrities}}
  <h4>{{name}}</h4>
  {{!-- <h5>{{occupation}}</h5>
  <p>"{{catchPhrase}}"</p> --}}
  <a href="/celebrities/{{id}}">See more</a>
  <a href="/celebrities/{{id}}/edit">Edit</a>
    <form action="/celebrities/{{id}}/delete" method="POST">
      <button>Delete</button>
    </form>
{{/each}}

<a href="/celebrities/new">Add a celebrity</a>