<h1>Create a new film</h1>

<form action="/movies/{{movie.id}}" method="POST">
  <label>
    Title:
    <input type="text" name="title" value='{{movie.title}}'>
  </label>
 
  <label>
    Genre:
    <input type="text" name="genre" value='{{movie.genre}}'>
  </label>
 
  <label>
    Plot:
    <input type="text" name="plot" value='{{movie.plot}}'> 
  </label>
 
  <label>
    Cast:
    <select name="cast" multiple>
      {{#each movies}}
        <option value="{{id}}" {{#if incast}}selected{{/if}}>{{name}}</option>
      {{/each}}
    </select>
  </label>
 
 
  <button>ADD</button>
</form>