<h2>Movies List</h2>

{{#each movies}}
<a href="/movies/{{id}}"><h3>{{title}}</h3></a>
<p>{{genre}}</p>
<p>{{plot}}</p>


<!-- 

<form action="/celebrities/{{id}}/delete" method="POST">
  <button>Delete</button>
</form>

<a href="/celebrities/{{id}}/edit">Edit</a>
-->
{{/each}}
<!-- 
<div>
<a href="/celebrities/new">Create a celebrity</a>
</div>
-->