<h2>Movies details</h2>
<ul>
   
        <li>{{movie.title}}</li>
        <li>{{movie.genre}}</li>
        <li>{{movie.plot}}</li>
        <li>{{movie.cast}}</li>
        
 <form action="/movies/{{movie.id}}/delete" method="POST">
         <button>Delete</button>
</form>  
</ul>
