<div class="movie-detail-page">
    <h2>{{movie.title}}</h2>
    <p>Genre: {{movie.genre}}</p>
    <p>Plot: {{movie.plot}}</p>
    <p>Cast:
        {{!-- {{movie.cast.0.name}} --}}

    <ul>
        {{#each movie.cast}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
    </p>
    <form action="/movies/{{movie.id}}/delete" method="GET">
        <button type="submit">Delete</button>
    </form>
</div>